*.dotCover
StyleCop.Cache
!*.?.?.ReSharper
_TeamCity*/
*.orig
*.tmp_*

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
/solution/*.xml
[Bb]uild/
[Bb]in/
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ClientBin/
Generated_Code/

!.nuget/
!NuGet.exe
!packages.config
solution/packages/*/
solution/**/packages/**/
!packages/repositories.config

*.suo
*.svclog


*.ncrunch
nCrunchTemp_*
_NCrunch_*/
*.old
